<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h3>v-model修饰符  .trim .number</h3>
        姓名：<input type="text" v-model="username"> <br>
        年龄：<input type="text" v-model="age"> <br>

        <h3>@事件名.stop  阻止冒泡</h3>
        <div class="father" @click="fatherFn" style="width: 200px; height: 200px; background-color: pink;">
            <div class="son" @click.stop="sonFn" style="width: 100px; height: 100px; background-color: blue;">儿子</div>
        </div>

        <h3>@事件名.prevent  阻止默认行为</h3>
        <a href="http://www.baidu.com" @click>阻止默认行为</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                
            },
            methods: {
                fatherFn () {
                    alert("父亲被点击了！")
                },
                sonFn (e) {
                    alert('儿子被点击了!')
                }
            }
        })
    </script>
</body>
</html>